/* style.css */

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f2f5; /* Cor de fundo suave */
}

/* Estilo para animação de carregamento */
.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #dc2626; /* Red */
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
